body {
    background-color: black;
    color: white;
    .credentials {
        width: 210px;
        display: grid;
        gap: 15px;
        grid-auto-flow: column;
        a {
            margin-top: auto;
            margin-bottom: auto;
            color: whitesmoke;
            font-size: 22px;
            text-decoration: none;
        }
    }
}

.container {
    margin: 10% auto;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: space-around;
    justify-content: space-around;
    justify-items: center;
    a {
        text-decoration: none;
    }
   
}




@media screen and (max-width:"672px") {
body {
    .credentials {
        width: 120px;
        grid-auto-flow: row;
        gap:2px;
    }
}
}