.search {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    height: 40px;
    margin: auto;
    border-radius: 35px;
    color: rgb(58, 52, 52);
    input {
        text-align: center;
    }
    .bar {
        margin: 5px;
        display: none;
    }
    input[type="text"] {
        flex-grow: 1;
        border-radius: 25px;
        font-size: 20px;
    }

    input[type="submit"] {
        background-color:black;
        width: 36px;
        font-size: 18px;
        cursor: pointer;
        height: 33px;
        margin-top: 2px;
        margin-left: 5px;
        border-radius: 50%;
        font-size: 25px;
        
    
    }
    
    
 }